* {
  margin: 0;
  /* overflow: hidden; */
  /* width: 100%; */
}
html {
  height: 100%;
}

/* Alinhando os botões "Filtro" e "Ordenar"*/

.container {
  max-width: 100vw; /* Largura máxima para a centralização */
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 0 20px; /* Adiciona um pouco de padding nas laterais */
  position: relative; /* Permite o posicionamento absoluto dentro */
}

.carousel-wrapper {
  position: relative; /* Necessário para o posicionamento absoluto dos botões */
  margin-top: 80px; /* Ajusta a margem superior para garantir que o carrossel não fique colado aos botões */
}

.buttons-container {
  position: absolute; /* Posiciona os botões em relação ao contêiner do carrossel */
  top: -45px; /* Ajusta o alinhamento vertical dos botões para o topo do contêiner */
  left: 310px; /* Alinha os botões à esquerda do contêiner do carrossel */
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre os botões */
  z-index: 1; /* Garante que os botões fiquem acima do carrossel */

  @media (max-width: 768px) {
    left: 30px;
  }
}

/* Estilização do calendário do filtro "Quando?" */

.react-calendar {
  border: none;
  font-family: 'Open Sans', sans-serif;
} 

.react-calendar__month-view__weekdays {
  color: black;
  font-weight: normal;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

.react-calendar__tile {
  border-radius: 5px;
  margin: 5px;
}